.app {
  header {
    display: flex;
    height: 50px;
    padding: 0px 12px;
    align-items: center;
    background: #24292e;
    a {
      display: inline-block;
      color: #ffffff;
    }
    a:after {
      display: inline-block;
      margin: 0 12px;
      content: '/';
    }
    a:hover {
      color: hsla(0, 0%, 100%, 0.7);
    }
  }
  &-resource {
    padding: 12px;
    background-color: #000000;
    p {
      margin-bottom: 4px;
      font-size: 14px;
      color: #ffffff;
    }
  }
}

.level-center {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.input {
  span {
    display: inline-block;
    width: 12ch;
    border-right: 1px solid transparent;
    overflow: hidden;
    font-weight: 500;
    font: bold 200% Consolas, Monaco, monospace;   /*等宽字体*/
    white-space: nowrap;
    animation: typing 10s steps(12), caret 0.5s steps(1) infinite;
  }
  @keyframes typing{
    from {
        width: 0;
    }
  }
  @keyframes caret{
    50% { border-right-color: currentColor }
  }
}

.gradient {
  p {
    font-size: 24px;
    background: linear-gradient(90deg, #b4a078, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 5px transparent;
  }
}